.card-container {
  padding: 10px;
  height: 25%;
  width: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
.dark-mode {
  background-color: #000000;
}
.light-mode {
  background-color: #ffffff;
}
.heading {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Roboto';
}
.button {
  border-radius: 10px;
  border-style: none;
  height: 40px;
  width: 100px;
  background-color: #ffffff;
}
.bg-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
